{% extends 'base.html' %}
{% load static %}

{% block title %}Agregar Equipo de Evento{% endblock %}

{% block sidebar %}
    {% include 'componentes/sidebar.html' %}
{% endblock %}

{% block content %}
<div class="relative min-h-screen">

    <div class="flex flex-col md:flex-row flex-wrap justify-center items-center mx-auto">

        <!-- Imagen -->
        <div class="flex-shrink-0 w-1/3 md:w-1/4 flex items-center justify-center p-4 mt-32">
            <img src="{% static 'imagenes/Speaker-sound-music-audio-equipment-loudspeaker-box-home-theater-system_335016_wh1200.png' %}" 
                 alt="Imagen del Equipo de Evento" 
                 class="w-full h-auto rounded-lg shadow-lg">
        </div>

        <!-- Formulario -->
        <div class="flex-1 p-8 bg-gradient-to-r from-white to-gray-300 rounded-xl shadow-xl relative mt-32 w-full md:w-3/4">
            <h2 class="text-black text-2xl font-sans mb-6">Registro Nuevo Equipo de Evento</h2>

            <form method="POST" action="{% url 'add_audio' %}">
                {% csrf_token %}

                <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
                    {% for field in form.visible_fields %}
                    <div>
                        <label for="{{ field.id_for_label }}" class="block text-black text-sm font-sans italic mb-1">
                            {{ field.label }}
                        </label>
                        {{ field }}
                        {% for error in field.errors %}
                            <p class="text-red-600 text-sm mt-1">{{ error }}</p>
                        {% endfor %}
                    </div>
                    {% endfor %}
                </div>

                <!-- Botones -->
                <div class="flex justify-between mt-8">
                    <a href="{% url 'audio_list' %}"
                       class="bg-red-900 hover:bg-red-500 text-white font-medium py-2 px-4 rounded-lg transition duration-200 w-32 text-center">
                        <i class="fas fa-arrow-left"></i>
                    </a>
                    <button type="submit"
                            class="bg-red-900 hover:bg-red-700 text-white font-medium py-2 px-4 rounded-lg shadow-md hover:shadow-lg transition duration-200 w-32">
                        Guardar
                    </button>
                </div>
            </form>

            {% if form.non_field_errors %}
                <div class="mt-4 p-4 bg-red-100 border border-red-400 text-red-700 rounded">
                    {% for error in form.non_field_errors %}
                        <p>{{ error }}</p>
                    {% endfor %}
                </div>
            {% endif %}

        </div>
    </div>
</div>
{% endblock %}
