{% comment %} templates/componentes/pagination.html {% endcomment %}


<div class="flex flex-col items-center space-y-4 mt-4 mb-8">
    <!-- Información de página actual -->
    <div class="text-black font-semibold">
        Página {{ page_obj.number }} de {{ paginator.num_pages }}
    </div>
    <!-- Botones de navegación -->
    <div class="flex justify-center space-x-2">
        <!-- Botón Primero (Si hay 3 o más páginas y no estamos en la primera) -->
        {% if paginator.num_pages >= 3 and page_obj.number > 1 %}
            <a href="?page=1{% for key, value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}"
            class="rounded-sm bg-gradient-to-br from-red-600 to-red-900 px-4 py-2 text-sm font-semibold text-white hover:from-red-500 hover:to-red-800 {% if not page_obj.has_previous %}opacity-50 cursor-not-allowed{% endif %}">
                Primero
            </a>
        {% endif %}

        <!-- Botón Anterior (Si hay al menos 2 páginas y no estamos en la primera) -->
        {% if paginator.num_pages >= 2 and page_obj.has_previous %}
            <a href="{% if page_obj.has_previous %}?page={{ page_obj.previous_page_number }}{% for key, value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}{% else %}#{% endif %}"
            class="rounded-sm bg-gradient-to-br from-red-600 to-red-900 px-4 py-2 text-sm font-semibold text-white hover:from-red-500 hover:to-red-800 {% if not page_obj.has_previous %}opacity-50 cursor-not-allowed{% endif %}">
                Anterior
            </a>
        {% endif %}

        <!-- Botón Siguiente (Si hay al menos 2 páginas y más páginas adelante) -->
        {% if paginator.num_pages >= 2 and page_obj.has_next %}
            <a href="{% if page_obj.has_next %}?page={{ page_obj.next_page_number }}{% for key, value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}{% else %}#{% endif %}"
            class="rounded-sm bg-gradient-to-br from-red-600 to-red-900 px-4 py-2 text-sm font-semibold text-white hover:from-red-500 hover:to-red-800 {% if not page_obj.has_next %}opacity-50 cursor-not-allowed{% endif %}">
                Siguiente
            </a>
        {% endif %}
        <!-- Botón Último (Si hay 3 o más páginas y no estamos en la última) -->
        {% if paginator.num_pages >= 3 and page_obj.has_next %}
            <a href="?page={{ paginator.num_pages }}{% for key, value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}"
            class="rounded-sm bg-gradient-to-br from-red-600 to-red-900 px-4 py-2 text-sm font-semibold text-white hover:from-red-500 hover:to-red-800 {% if not page_obj.has_next %}opacity-50 cursor-not-allowed{% endif %}">
                Último
            </a>
        {% endif %}
    </div>
</div>
