{% extends 'base.html' %}
{% load static %}

{% block title %}Seleccionar All In One{% endblock %}

{% block content %}
<div class="homeContainer">
    <div class="homeContent">
        <div class="homeTitle">
            <img src="{% static 'imagenes/inacap_logo.png' %}" alt="imagenHome2">
            <h1>Selecciona el tipo de All In One</h1>
        </div>

        <div class="homeCard" style="justify-content: center;">
            <a href="{% url 'all_in_one' %}" class="card" style="margin: 10px;">
                <img class="cardImage" src="{% static 'imagenes/allinone.png' %}" alt="all_in_one_academico">
                <h2 class="cardTitle">All In One Académico</h2>
            </a>
            <a href="{% url 'all_in_one_adm' %}" class="card" style="margin: 10px;">
                <img class="cardImage" src="{% static 'imagenes/allinone.png' %}" alt="all_in_one_administrativo">
                <h2 class="cardTitle">All In One Administrativo</h2>
            </a>
        </div>
    </div>
</div>
{% endblock %}