{% extends 'base.html' %}

{% block title %}Subir Excel - Mini Pc{% endblock %}

{% block navbar %}
   {% include 'componentes/navbar.html' %}
{% endblock %}
 
{% block sidebar %}
{% include 'componentes/sidebar.html' %} 
{% endblock %} 

{% block content %}
   <!-- Contenedor principal con imagen de fondo -->
   <div class="relative min-h-screen">
       
       <!-- Contenedor principal con margen para sidebar -->
       <div class="ml-64 mx-auto">
           <div class="flex flex-col md:flex-row items-center justify-center py-16">
               <!-- Contenedor de la imagen del All In One -->
               <div class="flex-shrink-0 w-1/3 md:w-1/4 flex items-center justify-center p-4">
                   <img class="w-full h-auto rounded-lg shadow-lg" 
                        src="/static/imagenes/mini_pc.png" 
                        alt="Imagen All In One">
               </div>
               
               <!-- Contenedor del formulario con gradiente de fondo -->
                <div class="w-full max-w-lg p-8 md:p-10 bg-gradient-to-r from-white to-gray-300 rounded-lg shadow-xlmx-auto    <!-- opcional: centra el contenedor -->mt-32      <!-- opcional: si quieres ese margen superior -->">
                   <h2 class="text-black text-2xl font-sans mb-6">Subir Archivo Excel para Mini Pc</h2>

                   <!-- Contenedor de mensajes de error -->
                   {% if form.errors %}
                       <div class="mb-4 p-4 bg-red-100 border border-red-400 text-red-700 rounded">
                           <p class="font-bold mb-2">Errores:</p>
                           <ul>
                               {% for field, errors in form.errors.items %}
                                   {% for error in errors %}
                                       <li>{{ field }}: {{ error }}</li>
                                   {% endfor %}
                               {% endfor %}
                           </ul>
                       </div>
                   {% endif %}

                   <!-- Formulario de subida de Excel -->
                   <form method="post" enctype="multipart/form-data" action="{% url 'upload_excel_minipc' %}">
                       {% csrf_token %}
                       <div class="mb-4">
                        <label for="excel_file" class="block font-semibold text-md text-black">Seleccionar archivo Excel:</label>
                        <input type="file" id="excel_file" name="excel_file" accept=".xlsx, .xls" required 
                               class="w-full bg-gray-200 rounded-md py-2 px-3 mt-2 text-gray-900 shadow-sm">
                    </div>

                    <!-- Botones de acción -->
                    <div class="flex justify-between mt-6 w-full">
                                                <!-- Botón Regresar -->
                        <a href="{% url 'mini_pc' %}" 
                        class="bg-red-900 hover:bg-red-500 text-white font-medium py-1 px-3 rounded-lg transition duration-200 w-24 text-sm text-center">
                            Regresar
                        </a>
                        <!-- Botón Subir Archivo -->
                        <button type="submit" 
                                class="bg-red-900 hover:bg-red-500 text-white font-medium py-1 px-3 rounded-lg transition duration-200 w-24 text-sm text-center">
                            Subir Archivo
                        </button>

                    </div>
                   </form>
               </div>
           </div>
       </div>

<!-- Contenedor de mensajes de éxito, información y error -->
{% if messages %}
    <div class="container mx-auto mt-8">
        {% for message in messages %}
            <div class="p-4 mb-4 rounded shadow-lg 
                        {% if message.tags == 'success' %}
                            bg-green-100 border border-green-400 text-green-700
                        {% elif message.tags == 'error' %}
                            bg-red-100 border border-red-400 text-red-700
                        {% elif message.tags == 'info' %}
                            bg-blue-100 border border-blue-400 text-blue-700
                        {% else %}
                            bg-gray-100 border border-gray-400 text-gray-700
                        {% endif %}">
                <strong class="font-bold">{{ message.tags|title }}!</strong>
                <span class="block sm:inline">{{ message }}</span>
            </div>
        {% endfor %}
    </div>
{% endif %}


   
   </div>
{% endblock %}
